body {
  margin: 0;
  overflow: hidden;
  background: rgb(245, 245, 245);
  font-family: Arial, sans-serif;
}
#defaultCanvas0 {
  width: 100vw !important;
  height: 100vh !important;
  display: block;
}
#combo-display {
  position: fixed;
  bottom: 1%;
  left: 50%;
  color: #aaa;
  transform: translateX(-50%);
  display: none;
}
